.sheet {
    margin: 0 auto;
    width: 900px;
    font-size: 24px;
    text-align: justify;
}

.dateLine {
    display: flex;
    justify-content: space-between;
}

.h2 {
    text-align: center;
    margin: 50px 0 50px 0;
}

.formatText {
    line-height: 1.5;
}